#edit {
  animation: fade 30s infinite linear;
  margin-bottom: 10px;
  text-align: center;
}

@keyFrames fade {
  0%{
    box-shadow: #63f03d 5px 5px 10px;
  }

  50%{
    box-shadow: #3053df 5px 5px 20px
  }

  100%{
    box-shadow: #63f03d 5px 5px 10px;
  }
}

#update {
  text-align: center;
  color: #ff4242;
  text-shadow: hotpink 0px 0px 10px;
}

.run-all, input {
  transition: all ease 0.5s;
  width: 100px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  left: 58px;
  border-radius: 50px;
  background-color: transparent;
  border-color: transparent;
  font-size: 50%;
  font-family: 'Nabla', cursive;

}

.run-all, input:hover {
  background-color: rgba(15, 113, 15, 0.4);
  left: 5px;
  bottom: 5px;
  width: 200px;
  height: 60px;
  font-size: 100%;
  padding: 0px;
  margin: 0px;
}